*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(97, 95, 95);
}

.item-nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.item-nav .menu-bar{
    padding: 10px;
    color: #fff;
    font-size: 1.5rem;
    position: relative;
}

.item-lista{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: rgba(73, 70, 70, 0.589);
    z-index: 1;
    display: none;
    overflow: hidden;
}

.item-lista ul {
    width: 100%;
    padding: 0;
}

.item-lista ul{
    overflow-x: scroll;
    overflow: hidden;
}



.visu_animacao{
    width: 100%;
    height: 45%;
    background-color: rgb(88, 86, 86);
    display: flex;
    align-items: center;
    justify-content: center;
}

.animacao{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 7px solid #fff;
    border-right-color: transparent;
    animation: rotate 5s linear infinite;
    background-image: url("fundoAudio.avif");
    background-position: center;
    background-size: cover;
}

@keyframes rotate{
    100%{
        transform: rotateZ(360deg);
    }
}

.inforAudio{
    width: 100%;
    display: flex;
    flex-direction: column;
}

h4{
    display: flex;
    color: #fff;
    padding: 10px;
}

.infor-tempo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
}

.infor-tempo p{
    padding: 5px;
}

.controls{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

.controls i{
    font-size: 1.5rem;
    padding: 10px;
}

.fa-play:active{
    background-color: rgb(54, 54, 54);
    border-radius: 50%;
    cursor: pointer;
}

.input-range::-webkit-slider-runnable-track{
    background-color: rgb(7, 168, 147);
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}
  
.input-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.mylista{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.item-button{
    width: 50%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.3rem;
}

#button-musica{
    border-bottom: 1px solid #fff;

}

.item-musica{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.item-musica:hover{
    background-color: rgb(122, 120, 120);
}

.item-musica a{
    display: flex;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    flex-direction: column;
}

.fa-music{
    color: #fff;
    font-size: 1.3rem;
}

.nome-artista{
    font-size: .9rem;

}









